@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#basepage{
    background: #dbd6e9;
}

.header {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding:10px 10%;
    /* background: transparent; */
    background:rgb(180, 134, 134);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
}
.header a:hover{
    color: purple;
}

.navbar a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover {
    color: purple;
}
.container {
    margin-top: 80px;
    width: 100%;
    height: 120vh;
    background: linear-gradient(to bottom right, #d1cde3, white);
    display: flex;
}
.container a{
    color:rgb(87, 60, 144);
    text-decoration: none;
}
.container a:hover{
    color: purple;
}

h3 {
    padding-top: 2%;
    margin-top: 20px;
}
.skills-row {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.skills-row ul {
    list-style:circle;
    display: flex;
    align-items: center;
}

.skills-row li {
    margin-right: 25px;
}